Azure/LogicApps/DetectDisconnectedArcMachines.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "custom",
      "version": "1.0.0.0"
    },
    "description": "Deploys a Logic App that detects Azure Arc Connected Machines disconnected for more than N days using Azure Resource Graph REST API with HTTP action (no Log Analytics/AMA/MMA required). Works in Commercial and Government clouds."
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "DetectDisconnectedArcMachines",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "disconnectedDaysThreshold": {
      "type": "int",
      "defaultValue": 7,
      "minValue": 1,
      "maxValue": 365,
      "metadata": {
        "description": "Number of days a machine must be disconnected before alerting (1-365)"
      }
    },
    "recurrenceFrequency": {
      "type": "string",
      "defaultValue": "Day",
      "allowedValues": [
        "Hour",
        "Day",
        "Week"
      ],
      "metadata": {
        "description": "How often to run the detection check"
      }
    },
    "recurrenceInterval": {
      "type": "int",
      "defaultValue": 1,
      "minValue": 1,
      "maxValue": 30,
      "metadata": {
        "description": "Interval for the recurrence (e.g., every 1 Day, every 6 Hours)"
      }
    },
    "notificationEmail": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Email address for notifications (leave empty to disable email)"
      }
    },
    "azureEnvironment": {
      "type": "string",
      "defaultValue": "AzureCloud",
      "allowedValues": [
        "AzureCloud",
        "AzureUSGovernment"
      ],
      "metadata": {
        "description": "Azure environment (Commercial or Government)"
      }
    }
  },
  "variables": {
    "office365ConnectionName": "[concat('office365-', parameters('logicAppName'))]",
    "office365ConnectionDisplayName": "Office 365 Outlook Connection",
    "managementEndpoint": "[if(equals(parameters('azureEnvironment'), 'AzureUSGovernment'), 'https://management.usgovcloudapi.net', 'https://management.azure.com')]",
    "resourceGraphUri": "[concat(variables('managementEndpoint'), '/providers/Microsoft.ResourceGraph/resources?api-version=2022-10-01')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('office365ConnectionDisplayName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "disconnectedDaysThreshold": {
              "defaultValue": 7,
              "type": "Int"
            },
            "notificationEmail": {
              "defaultValue": "",
              "type": "String"
            },
            "resourceGraphUri": {
              "defaultValue": "",
              "type": "String"
            },
            "managementAudience": {
              "defaultValue": "",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]",
                "timeZone": "UTC"
              },
              "evaluatedRecurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_Variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DisconnectedDaysThreshold",
                    "type": "integer",
                    "value": "@parameters('disconnectedDaysThreshold')"
                  },
                  {
                    "name": "DisconnectedMachines",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "HTTP_-_Query_Resource_Graph": {
              "runAfter": {
                "Initialize_Variables": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@parameters('resourceGraphUri')",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "query": "resources | where type =~ 'microsoft.hybridcompute/machines' | where properties.status =~ 'Disconnected' | extend lastStatusChange = todatetime(properties.lastStatusChange) | extend disconnectedDays = datetime_diff('day', now(), lastStatusChange) | where disconnectedDays >= @{variables('DisconnectedDaysThreshold')} | project id, name, resourceGroup, subscriptionId, location, status = tostring(properties.status), lastStatusChange, disconnectedDays, osType = tostring(properties.osType), osName = tostring(properties.osName), osVersion = tostring(properties.osVersion), agentVersion = tostring(properties.agentVersion), machineFqdn = tostring(properties.machineFqdn), domainName = tostring(properties.domainName), tags | order by disconnectedDays desc"
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "@parameters('managementAudience')"
                }
              }
            },
            "Set_DisconnectedMachines": {
              "runAfter": {
                "HTTP_-_Query_Resource_Graph": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "DisconnectedMachines",
                "value": "@body('HTTP_-_Query_Resource_Graph')?['data']"
              }
            },
            "Condition_-_Machines_Found": {
              "actions": {
                "Create_HTML_Table": {
                  "runAfter": {},
                  "type": "Table",
                  "inputs": {
                    "columns": [
                      {
                        "header": "Machine Name",
                        "value": "@item()?['name']"
                      },
                      {
                        "header": "Resource Group",
                        "value": "@item()?['resourceGroup']"
                      },
                      {
                        "header": "Subscription",
                        "value": "@item()?['subscriptionId']"
                      },
                      {
                        "header": "Location",
                        "value": "@item()?['location']"
                      },
                      {
                        "header": "OS Type",
                        "value": "@item()?['osType']"
                      },
                      {
                        "header": "OS Name",
                        "value": "@item()?['osName']"
                      },
                      {
                        "header": "Last Status Change",
                        "value": "@item()?['lastStatusChange']"
                      },
                      {
                        "header": "Days Disconnected",
                        "value": "@item()?['disconnectedDays']"
                      },
                      {
                        "header": "FQDN",
                        "value": "@item()?['machineFqdn']"
                      },
                      {
                        "header": "Agent Version",
                        "value": "@item()?['agentVersion']"
                      }
                    ],
                    "format": "HTML",
                    "from": "@variables('DisconnectedMachines')"
                  }
                },
                "Compose_Report": {
                  "runAfter": {
                    "Create_HTML_Table": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": {
                    "machineCount": "@length(variables('DisconnectedMachines'))",
                    "thresholdDays": "@variables('DisconnectedDaysThreshold')",
                    "reportGeneratedAt": "@utcNow()",
                    "machines": "@variables('DisconnectedMachines')",
                    "htmlReport": "@body('Create_HTML_Table')"
                  }
                },
                "Condition_-_Email_Configured": {
                  "actions": {
                    "Send_an_email_(V2)": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "To": "@parameters('notificationEmail')",
                          "Subject": "Alert: @{length(variables('DisconnectedMachines'))} Azure Arc Machines Disconnected > @{variables('DisconnectedDaysThreshold')} Days",
                          "Body": "<p><strong>Azure Arc Disconnected Machines Report</strong></p><p><strong>Machines Disconnected:</strong> @{length(variables('DisconnectedMachines'))}</p><p><strong>Threshold:</strong> @{variables('DisconnectedDaysThreshold')} days</p><p><strong>Report Generated:</strong> @{utcNow()}</p><br>@{body('Create_HTML_Table')}<br><p><em>This is an automated report from Logic App: @{workflow().name}</em></p>",
                          "Importance": "High"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail"
                      }
                    }
                  },
                  "runAfter": {
                    "Compose_Report": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@parameters('notificationEmail')",
                            ""
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Set_DisconnectedMachines": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Compose_No_Machines": {
                    "runAfter": {},
                    "type": "Compose",
                    "inputs": {
                      "message": "No Azure Arc machines found disconnected for more than @{variables('DisconnectedDaysThreshold')} days.",
                      "checkTime": "@utcNow()",
                      "status": "Healthy"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('DisconnectedMachines'))",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          },
          "disconnectedDaysThreshold": {
            "value": "[parameters('disconnectedDaysThreshold')]"
          },
          "notificationEmail": {
            "value": "[parameters('notificationEmail')]"
          },
          "resourceGraphUri": {
            "value": "[variables('resourceGraphUri')]"
          },
          "managementAudience": {
            "value": "[variables('managementEndpoint')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    },
    "postDeploymentSteps": {
      "type": "string",
      "value": "1) Authorize the Office 365 connection in the Portal (select correct auth type for GCC High). 2) Assign Reader role to the Logic App's managed identity on target subscriptions."
    }
  }
}
